@import './utils.scss';
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0057ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button,
::-webkit-resizer {
  display: none;
}

@for $i from 6 through 13 {
  $size: #{$i * 2+ 'px'};
  .material-design-icon.icon-#{$i * 2} {
    height: $size;
    width: $size;
    & > .material-design-icon__svg {
      height: $size;
      width: $size;
    }
  }
}

.card {
  margin: 15px 0;
  padding: 15px; // border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
  overflow: hidden;
  & > .title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
    display: block;
  }
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

input:invalid,
input[required]:invalid,
input:focus:invalid,
textarea:invalid,
textarea[required]:invalid,
textarea:focus:invalid {
  box-shadow: none;
}
