@mixin layout() {
  .layout,
  .layout-column,
  .layout-row {
    box-sizing: border-box;
    display: flex;
  }
  .layout-column {
    flex-direction: column;
  }
  .layout-row {
    flex-direction: row;
  }
  .layout-wrap {
    flex-wrap: wrap;
  }
  .layout-nowrap {
    flex-wrap: nowrap;
  }
}

@mixin layout-align() {
  .layout-align {
    &-center {
      align-items: center;
      justify-content: center;
    }
  }
  .align-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
}

@mixin flex-properties() {
  .flex {
    flex: 1;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
  }
  .flex-grow {
    flex: 1 1 100%;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
  }
  .flex-initial {
    flex: 0 1 auto;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
  }
  .flex-auto {
    flex: 1 1 auto;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
  }
  .flex-none {
    flex: 0 0 auto;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
  } // (1-20) * 5 = 0-100%
  @for $i from 0 through 20 {
    $value: #{$i * 5 + '%'};
    .layout-row>.flex-#{$i * 5} {
      flex: 1 1 #{$value};
      max-width: #{$value};
      max-height: 100%;
      box-sizing: border-box;
    }
    .layout-column>.flex-#{$i * 5} {
      flex: 1 1 #{$value};
      max-width: 100%;
      max-height: #{$value};
      box-sizing: border-box;
    }
  }
  .layout-row {
    >.flex-33 {
      flex: 1 1 33.33%;
      max-width: 33.33%;
      max-height: 100%;
      box-sizing: border-box;
    }
    >.flex-66 {
      flex: 1 1 66.66%;
      max-width: 66.66%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }
  .layout-column {
    >.flex-33 {
      flex: 1 1 33.33%;
      max-width: 100%;
      max-height: 33.33%;
      box-sizing: border-box;
    }
    >.flex-66 {
      flex: 1 1 66.66%;
      max-width: 100%;
      max-height: 66.66%;
      box-sizing: border-box;
    }
  }
}

@include layout();
@include layout-align();
@include flex-properties();